<p id="notice"><%= notice %></p>

<h1>Listing Json Data</h1>

<table>
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>JSON Blob</th>
      <th>Last accessed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @json_data.each do |json_datum| %>
      <tr>
        <td><%= json_datum.endpoint %></td>
        <td><%= json_datum.json_blob %></td>
        <td><%= json_datum.last_accessed %></td>
        <td><%= link_to 'Show', json_datum %></td>
        <td><%= link_to 'Edit', edit_json_datum_path(json_datum) %></td>
        <td><%= link_to 'Destroy', json_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Json datum', root_path %>
